@import './Font.css';

:root {
    /* colors */
    --mainPurple: rgb(147, 112, 186);
    --secondPurple: rgb(130, 95, 170);
    --thirdPurple: rgb(160, 130, 200);
    --mainGreen: rgb(106, 170, 142);
    --secondGreen: rgb(90, 160, 130);
    --thirdGreen: rgb(120, 180, 150);

    /* Misure*/
    --headerAndFooterHeight: 4.5rem;

    /* default parameters */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
    }
    html {
        height: 100vh;
    }

    body {
        height: 100vh;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f5f5f5;
    }

    header {
        padding: 0.5rem;
        height: var(--headerAndFooterHeight);
        display: flex;
        justify-content: space-between;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
        z-index: 50;

        padding-left: 1rem;
        padding-right: 1rem;
    }

    main {
        display: flex;
        flex: 1;
        margin-top: var(--headerAndFooterHeight);
        width: 100%;
        padding-left: 15rem;
        padding-right: 15rem;
    }

    footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
    }

    button {
        position: relative;
        cursor: pointer;
        background-color: inherit;
        border: none;
        border-radius: 30px;
        font-family: 'Amatic SC', cursive;
        font-size: 25px;
    }

    button:hover {
        background-color: var(--thirdGreen);
        color: white;
        transition: 0.2s;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        cursor: default;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
    }

    h1 {
        background: linear-gradient(to left, var(--mainPurple) 10%, var(--mainGreen) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        font-size: 4vw;

        /* display: inline-block; */
    }

    h2 {
        font-size: 2vw;
    }

    p {
        cursor: default;
        font-family: 'Dancing Script', cursive;
    }

    /* Mobile Styles */
    @media (max-width: 400px) {
        main {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
    }

    /* Tablet Styles */
    @media (min-width: 768px) {
        main {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    /* Desktop Styles */
    @media (min-width: 1024px) {
    }
}
