@import 'tailwindcss';
@import './Font.css';

:root {
    /* colors */
    --mainPurple: rgb(147, 112, 186);
    --secondPurple: rgb(130, 95, 170);
    --thirdPurple: rgb(160, 130, 200);
    --mainGreen: rgb(106, 170, 142);
    --secondGreen: rgb(90, 160, 130);
    --thirdGreen: rgb(120, 180, 150);

    /* Misure*/
    --headerAndFooterHeight: 4.5rem;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        height: 100vh;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply h-screen min-w-[320px] flex flex-col items-center bg-[#f5f5f5];
    }

    main {
        @apply flex flex-1 mt-[var(--headerAndFooterHeight)] w-full px-2 sm:px-4 md:px-20 lg:px-40 xl:px-60;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply cursor-default font-['Amatic_SC',_cursive] font-bold;
    }

    h1 {
        @apply text-[8vw] sm:text-[6vw] md:text-[5vw] lg:text-[4vw];
        background: linear-gradient(to left, var(--mainPurple) 10%, var(--mainGreen) 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    h2 {
        @apply text-[5vw] sm:text-[4vw] md:text-[3vw] lg:text-[2vw];
    }

    p {
        @apply cursor-default font-['Dancing_Script',_cursive] text-base sm:text-lg;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
